.words-about-us__slider-block {
	max-width: 1262px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	padding: 0 20px;
	box-sizing: border-box;
}

@media screen and (max-width: 991.98px) {
	.words-about-us__slider-block {
		padding: 0;
	}
}

