.footer__logo {
	margin-bottom: 37.5px;
}

.footer__logo img {
	width: 150px;
}

.footer__logo .footer__info-text {
	display: none;
	font-weight: 400;
	font-size: 12px;
	line-height: 20px;
	color: white;
}

@media screen and (max-width: 992px) {
	.footer__logo .footer__info-text {
		display: block;
	}
	.footer__logo img {
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 768px) {
	.footer__logo {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 30px;
	}
	.footer__logo img {
		margin-bottom: 0px;
		width: 98px;
	}
}