.main-block__background {
	position: absolute;
	width: 100%;
	height: 100%;
	top: -80px;
	left: 0;
	z-index: -1;
}

.main-block__background img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	object-fit: cover;
	min-height: 1024px;
}

@media screen and (max-width: 1000px) {
	.main-block__background   {
		top: -60px;
	}
}

@media screen and (max-width: 991.98px) {
	.main-block__background img  {
		min-height: 938px;
		transform: scale(-1, 1);
	}
}

@media screen and (max-width: 767.98px) {
	.main-block__background {
		top: 0px;
	}
	.main-block__background img  {
		min-height: 412px;
	}
}
