.publications__pagination {
	display: flex;
	justify-content: center;
	
}
.publications__pagination.swiper-pagination-horizontal {
	margin-top: 26px;
}
.publications__pagination .swiper-pagination-bullet {
	width: 8px;
	height: 8px;
	background-color: #001337;
	opacity: 0.5;
}

.publications__pagination .swiper-pagination-bullet-active {
	opacity: 1;
}
