.main-block__content {
	display: flex;
	flex-direction: column;
	padding-right: 165px;
}

@media screen and (max-width: 991.98px) {
	.main-block__content   {
		padding-left: 25px;
		padding-right: 25px;
	}
}

@media screen and (max-width: 767.98px) {
	.main-block__content   {
		padding-left: 16px;
		padding-right: 16px;
	}
}