.content-with-photo__text-dark {
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 0.1px;
	color: #000D26;
	max-width: 540px;
	margin-bottom: 20px;
}

@media screen and (max-width: 992px) {
	.content-with-photo__text-dark {
		font-size: 14px;
		line-height: 20px;
	}
}

@media screen and (max-width: 620px) {
	.content-with-photo__text-dark {
		font-size: 12px;
		line-height: 16px;
	}
}