.main-block {
	color: #FFFFFF;
	padding-top: 92px;
	padding-bottom: 124px;
	display: flex;
	justify-content: center;
	position: relative;
}

@media screen and (max-width: 991.98px) {
	.main-block  {
		padding-top: 58px;
		padding-bottom: 120px;
	}
}

@media screen and (max-width: 767.98px) {
	.main-block  {
		padding-top: 30px;
		padding-bottom: 60px;
	}
}