.popup-industrial__description {
	margin: 0;
	margin-bottom: 20px;
}

.popup-industrial__description:last-of-type {
	margin: 0;
}

@media screen and (max-width: 1178px) {
	.popup-industrial__description:first-of-type {
		display: none;
	}
}

@media screen and (max-width: 767px) {
	.popup-industrial__description:nth-of-type(2) {
		display: none;
	}
}