.words-about-us__pagination {
	
}
.words-about-us__pagination.swiper-pagination-horizontal {
	margin-top: 26px;
}
.swiper-pagination-bullet {
	width: 8px;
	height: 8px;
	background-color: #FFFFFF;
	opacity: 0.5;
}

.swiper-pagination-bullet-active {
	opacity: 1;
}

.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
	transform: translateX(0%);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
	transform: scale(0);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
	transform: scale(0);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
	transform: scale(0);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
	transform: scale(0);
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap,6px);
}