.article-team__image {
	position: relative;
	border-radius: 10px;
	overflow: hidden;
	padding-bottom: 131.5%;
}

.article-team__image img {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	object-fit: cover;
}