.card-education {
	background-color: white;
	border-radius: 10px;
	display: none;
	padding: 30px;
	max-width: 1169px;
	box-sizing: border-box;
	justify-content: space-between;
	gap: 30px;
}

@media screen and (max-width: 992px) {
	.card-education {
		padding: 20px;
	}
}

@media screen and (max-width: 479.98px) {
	.card-education {
		flex-direction: column-reverse;
		padding: 16px;
		gap: 13px;
	}
}
