.words-about-us__title {
	margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
	.words-about-us__title {
		text-align: left;
	}
}

@media screen and (max-width: 479.98px) {
	.words-about-us__title {
		margin-bottom: 12px;
	}
}