.header__list {
	padding: 0;
	display: flex;
	list-style-type: none;
	gap: 21px;
}

@media screen and (max-width: 992px) {
	.header__list {
		gap: 14px;
	}
}

@media screen and (max-width: 768px) {
	.header__list  {
		flex-direction: column;
		align-items: flex-start;
		gap: 0;
	}
}