.numbers-pagination__current {
	margin-right: 16px;
	position: relative;
}

.numbers-pagination__current::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background-color: #009FAC;
}