.main-block__container {
	max-width: 1440px;
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
}

@media screen and (max-width: 991.98px) {
	.main-block__container   {
		flex-direction: row;
	}
}